<footer>
  <p>Created by <a class="btn btn-outline-info" href="https://github.com/alan-mak">Alan Mak</a> and <a class="btn btn-outline-info" href="https://github.com/CD-Mackay">Connor Mackay</a></p>
</footer>
