<header>
  <div class = "navbar">
    <ul class= "nav-links">
      <li><a class="btn btn-outline-primary" href="/">Home Page</a></li>
      <li><a class="btn btn-outline-primary" href="/new">Create New Survey</a></li>
    </ul>
  </div>
</header>
