<header>
  <div class = "navbar">
    <ul class= "nav-links">
      <li><a class="btn btn-primary" href="/"><i class="fas fa-home"></i></a></li>
     <li> <p>Litevote <i class="fas fa-poll-h"></i> </p> </li>
      <li><a class="btn btn-primary" href="/new"><i class="fas fa-clipboard-list"></i></a></li>
    </ul>
  </div>
</header>
