$background-color:#5FA9B3;
$middle: center;

footer {
  display: flex;
  justify-content: $middle;
  width: 100%;
  background-color: $background-color;
  font-size: 0.9em;
  position: fixed;
  bottom: 0;
  margin-top: 40px;
  padding-top: 10px;

}
