$middle: center;

body {
  h1 {
    text-align: $middle;
  }
  h2 {
    display: flex;
    justify-content: $middle;
  }
  #results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
    ol {
      li {
        padding: 20px;
        list-style-type: none;
      }
    }
  }
}
