$middle: center;

body {
  h2 {
    display: flex;
    justify-content: $middle;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
h1 {
  text-align: center;
}

#results {
  ol {
    li {
      padding: 20px;
    }
  }

}
