$middle: center;

body {
  h1 {
    text-align: $middle;
  }
  h2 {
    display: flex;
    justify-content: $middle;
  }
  #results {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    ol {
      li {
        padding: 20px;
      }
    }
  }
}
