main {
  div {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  #optionContainer {
    display: flex;
    justify-content: space-evenly;
    border: solid;
    border-width: thin;
    border-radius: 1em;
    width: inherit;
    margin-bottom: 60px;
    div {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  }
}
h1 {
  text-align: center;
}

.btn {
  margin: 5px;
}
.btn-sucess {
  margin-bottom: 40px;
}





